<!DOCTYPE html>
  <head>
    <title>
      Twidder
    </title>
    <link rel="shortcut icon" href="../static/pictures/favicon.png" />
    <link href="../static/client.css" type="text/css" rel="stylesheet" />
    <script src="../static/recovery.js" type="text/javascript"></script>
    <div class="medium-div" id="output">
      <form>

          <accounttext>New password</accounttext>
          <input type="password" id="newPassword1" name="newPassword1" minlength="2" class="account-box" required></input>
          <accounttext>Repeat new password</accounttext>
          <input type="password" id="newPassword2" name="newPassword2" class="account-box" required></input>

          <button onclick="changePasswordRecovery(newPassword1,newPassword2); return false;" class="btn-account">Change password</input>
      </form>
    </div>
    </head>
